*{
    margin: 0;
    padding: 0;
}

/* 링크 밑줄, 색 없애기 */
a{
    text-decoration: none;
    color: inherit;
}

/* nav 설정 */
nav{
    margin-left: 20px;
    text-align: left;
}

/* 레이아웃 */
#wrap{height: 900px; color: #fff; text-align: center; text-transform: uppercase;}
#header{height: 100px; background: #111;}
#nav{height: 50px; background: #222}
#con_best{height: 300px; background: #333}
#content1{height: 500px; background: #555}
#footer{height: 100px; background: #777}

/* 컨테이너 */
.container{
    width: 1000px;
    margin: 0 auto;
    height: inherit;
    background: rgba(111, 199, 250, 0.23);
}